<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <datasets>
        <dataset id="10.5676::EUM_SAF_CM::HOAPS::V001" title="HOAPS" location="/home/f-kratzenstein/Workspaces/DWD/CHARMe/packaging_tests/data/EUM_SAF_CM/HOAPS/*.nc" queryable="true" dataReaderClass="" copyrightStatement="" moreInfo="http://dx.doi.org/10.5676/EUM_SAF_CM/HOAPS/V001" disabled="false" updateInterval="-1" metadataUrl="" metadataDesc="" metadataMimetype="">
            <variables>
                <variable id="budg" title="surface upward water flux" description="Evaporation-Precipitation" colorScaleRange="-4.1480327E-4 1.2475695E-4" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="false"/>
            </variables>
        </dataset>
        <dataset id="10.5676::EUM_SAF_CM::CLARA_AVHRR::V001" title="CLARA A1" location="/home/f-kratzenstein/Workspaces/DWD/CHARMe/packaging_tests/data/EUM_SAF_CM/CLARA/10.5676_EUM_SAF_CM_CLARA_AVHRR_V001*.nc" queryable="true" dataReaderClass="" copyrightStatement="" moreInfo="http://dx.doi.org/10.5676/EUM_SAF_CM/CLARA_AVHRR/V001" disabled="false" updateInterval="-1" metadataUrl="" metadataDesc="" metadataMimetype="">
            <variables>
                <variable id="SIS" title="surface downwelling shortwave radiation" description="Surface Downwelling Shortwave Radiation" colorScaleRange="-4.4019623 397.54794" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="false"/>
                <variable id="sal_stdv" title="sal_stdv" description="standard deviation of surface albedo" colorScaleRange="-1.61236 33.85956" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="sal_nobs" title="sal_nobs" description="number of observations" colorScaleRange="-162.5 3412.5" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cfc_nobs" title="cfc_nobs" description="number of observations" colorScaleRange="-79.85 15712.85" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="SIS_stdv" title="SIS_stdv" description="Standard Deviation of the surface_downwelling_shortwave_flux" colorScaleRange="-0.8277732 113.77105" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="SIS_dms" title="SIS_dms" description="Number of Daily Averages used to derive the Monthly Average" colorScaleRange="-1.55 32.55" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cfc_day_nobs" title="cfc_day_nobs" description="number of daytime observations" colorScaleRange="-659.4 13847.4" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="sal" title="surface albedo" description="monthly mean of surface albedo" colorScaleRange="2.5853105 94.3786" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="false"/>
                <variable id="cfc_night_nobs" title="cfc_night_nobs" description="number of nighttime observations" colorScaleRange="-739.45 15528.45" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="sal_median" title="sal_median" description="monthly_median_of_surface_albedo" colorScaleRange="2.5929759 94.267" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="SISCLS" title="SISCLS" description="Surface Downwelling Shortwave Radiation assuming clear-sky conditions" colorScaleRange="-1.9114602 463.5575" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="SISCLS_dms" title="SISCLS_dms" description="Number of Daily Averages used to derive the Monthly Average" colorScaleRange="-1.55 32.55" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cfc_night" title="cfc_night" description="monthly mean of night-time cloud fractional coverage" colorScaleRange="-2.85 103.85" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="SIS_nobs" title="SIS_nobs" description="Number of Observations of the surface_downwelling_shortwave_flux" colorScaleRange="-659.4 13847.4" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cfc_day" title="cfc_day" description="monthly mean of day-time cloud fractional coverage" colorScaleRange="-1.8 103.8" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cfc" title="cloud area fraction" description="monthly mean of cloud fractional coverage" colorScaleRange="-5.0 120.0" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="false"/>
            </variables>
        </dataset>
        <dataset id="10.5676::EUM_SAF_CM::CLAAS::V001" title="CLAAS" location="/home/f-kratzenstein/Workspaces/DWD/CHARMe/packaging_tests/data/EUM_SAF_CM/CLAAS/10.5676_EUM_SAF_CM_CLAAS*.nc" queryable="true" dataReaderClass="" copyrightStatement="" moreInfo="" disabled="false" updateInterval="-1" metadataUrl="" metadataDesc="" metadataMimetype="">
            <variables>
                <variable id="cfc_night_nobs" title="cfc_night_nobs" description="number_of_observations night_time" colorScaleRange="-33.0 781.0" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="240" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="SIS" title="solar surface irradiance" description="solar_surface_irradiance" colorScaleRange="-19.376295 406.9022" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="false"/>
                <variable id="cfc_night" title="cfc_night" description="cloud fractional coverage" colorScaleRange="-10.0 110.0" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="240" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="stdv" title="stdv" description="standard deviation of surface albedo" colorScaleRange="-1.9062592 40.03144" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="nobs" title="nobs" description="number of observations used to mean surface albedo" colorScaleRange="-14.15 319.15" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cfc_nobs" title="cfc_nobs" description="number_of_observations" colorScaleRange="741.9 744.1" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="240" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="sal" title="surface albedo" description="surface albedo" colorScaleRange="2.6573095 92.66786" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="false"/>
                <variable id="cfc_day_nobs" title="cfc_day_nobs" description="number_of_observations day_time" colorScaleRange="-23.55 780.55" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="240" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cfc" title="cloud fractional coverage" description="cloud fractional coverage" colorScaleRange="-5.0 120.0" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="false"/>
                <variable id="cfc_day" title="cfc_day" description="cloud fractional coverage" colorScaleRange="-10.0 110.0" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="240" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
            </variables>
        </dataset>
        <dataset id="10.5676::ESACCI::CLOUD::CCL4C::V001" title="CCI-CLOUDS" location="/home/f-kratzenstein/Workspaces/DWD/CHARMe/packaging_tests/data/ESACCI/CLOUDS/CCL4C/L3S/2009*.nc" queryable="true" dataReaderClass="" copyrightStatement="" moreInfo="" disabled="false" updateInterval="-1" metadataUrl="" metadataDesc="" metadataMimetype="">
            <variables>
                <variable id="cot_log" title="cot_log" description="cloud optical thickness logarithmic" colorScaleRange="0.6184273 21.75513" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="ctt_uncertainty" title="ctt_uncertainty" description="cloud top temperature uncertainty" colorScaleRange="10.421109 27.055597" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cwp_wm" title="cwp_wm" description="cloud water path wm" colorScaleRange="1.4586776 223.35454" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cph_std" title="cph_std" description="fraction of liquid water clouds std" colorScaleRange="0.3588409 0.50672185" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cot" title="cot" description="cloud optical thickness" colorScaleRange="1.2568961 35.954475" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="false"/>
                <variable id="cwp_uncertainty" title="cwp_uncertainty" description="cloud water path uncertainty" colorScaleRange="-44.017517 1220.887" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="ctp_med" title="ctp_med" description="cloud top pressure median" colorScaleRange="374.605 849.69507" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="npoints_macro_cct_cloudy" title="npoints_macro_cct_cloudy" description="number of cloudy classified points" colorScaleRange="414.6 1391.4" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="ctt_wstd" title="ctt_wstd" description="cloud top temperature wstd" colorScaleRange="6.7836647 34.40252" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="npoints_micro_clear" title="npoints_micro_clear" description="number of points micro clear" colorScaleRange="726.5 1265.5" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cc_high" title="cc_high" description="cloud fraction high" colorScaleRange="0.015900975 0.29107955" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="false"/>
                <variable id="ctp_std" title="ctp_std" description="cloud top pressure std" colorScaleRange="98.48395 257.2022" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cth_wstd" title="cth_wstd" description="cloud top height wstd" colorScaleRange="0.9976016 3.701292" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cph" title="cph" description="fraction of liquid water clouds" colorScaleRange="0.13182244 0.7270561" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="false"/>
                <variable id="npoints_macro_clear" title="npoints_macro_clear" description="number of points macro clear" colorScaleRange="39.75 991.25" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="ref_wm" title="ref_wm" description="effective radius wm" colorScaleRange="6.5774107 38.913155" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="ctt" title="ctt" description="cloud top temperature" colorScaleRange="244.1311 267.23715" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="false"/>
                <variable id="npoints_macro_cct_low_cloudy" title="npoints_macro_cct_low_cloudy" description="number of low cloudy points" colorScaleRange="23.0 683.0" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="npoints_micro_cloudy" title="npoints_micro_cloudy" description="number of points micro cloudy" colorScaleRange="139.9 692.1" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="iwp_wstd" title="iwp_wstd" description="cloud ice water path wstd" colorScaleRange="7.6925516 231.08795" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="npoints_micro_cloudy_liq" title="npoints_micro_cloudy_liq" description="number of points micro cloudy liquid" colorScaleRange="20.2 389.8" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="ctp" title="ctp" description="cloud top pressure" colorScaleRange="480.2779 726.5566" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="false"/>
                <variable id="lwp_wstd" title="lwp_wstd" description="cloud liquid water path wstd" colorScaleRange="-17.901722 569.2319" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cc_total_std" title="cc_total_std" description="cloud fraction std" colorScaleRange="0.5533278 0.9900778" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="false"/>
                <variable id="cot_uncertainty_std" title="cot_uncertainty_std" description="cloud optical thickness uncertainty std" colorScaleRange="212.99028 320.06235" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="lwp_uncertainty_std" title="lwp_uncertainty_std" description="cloud liquid water path uncertainty std" colorScaleRange="-1499.7311 32856.684" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="ref_std" title="ref_std" description="effective radius std" colorScaleRange="10.452836 22.53195" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="ref_med" title="ref_med" description="effective radius median" colorScaleRange="5.0237503 44.871246" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cth_uncertainty_std" title="cth_uncertainty_std" description="cloud top height uncertainty std" colorScaleRange="0.0 100.0" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="ctp_log" title="ctp_log" description="cloud top pressure logarithmic" colorScaleRange="457.0228 684.77594" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cth" title="cth" description="cloud top height" colorScaleRange="3.0835059 6.0049086" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="false"/>
                <variable id="cot_wm" title="cot_wm" description="cloud optical thickness wm" colorScaleRange="0.41677195 13.924943" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cc_low" title="cc_low" description="cloud fraction low" colorScaleRange="0.016079916 0.49103534" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="false"/>
                <variable id="cot_med" title="cot_med" description="cloud optical thickness median" colorScaleRange="-0.23412502 27.191624" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="npoints_macro_cct_clear" title="npoints_macro_cct_clear" description="number of cloud free classified points" colorScaleRange="39.75 991.25" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="ctp_wm" title="ctp_wm" description="cloud top pressure wm" colorScaleRange="457.96542 746.0559" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="npoints_micro_cloudy_ice" title="npoints_micro_cloudy_ice" description="number of points micro cloudy ice" colorScaleRange="47.8 470.2" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="ctt_med" title="ctt_med" description="cloud top temperature median" colorScaleRange="237.81975 278.52524" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cc_total" title="cc_total" description="cloud fraction" colorScaleRange="0.2979446 0.9726254" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="false"/>
                <variable id="npoints_macro_cloudy" title="npoints_macro_cloudy" description="number of points macro cloudy" colorScaleRange="414.6 1391.4" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="ctp_uncertainty" title="ctp_uncertainty" description="cloud top pressure uncertainty" colorScaleRange="10.520473 57.632885" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="iwp" title="iwp" description="cloud ice water path" colorScaleRange="-5.768023 438.1722" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="false"/>
                <variable id="iwp_uncertainty_std" title="iwp_uncertainty_std" description="cloud ice water path uncertainty std" colorScaleRange="-1314.5775 33575.28" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="iwp_std" title="iwp_std" description="cloud ice water path std" colorScaleRange="-13.777739 955.07056" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cot_std" title="cot_std" description="cloud optical thickness std" colorScaleRange="0.7611495 51.241405" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cth_uncertainty" title="cth_uncertainty" description="cloud top height uncertainty" colorScaleRange="1.6830487 4.2441525" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="iwp_uncertainty" title="iwp_uncertainty" description="cloud ice water path uncertainty" colorScaleRange="-37.41044 901.39185" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cwp" title="cwp" description="cloud water path" colorScaleRange="-2.4846497 788.1776" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="false"/>
                <variable id="cwp_std" title="cwp_std" description="cloud water path std" colorScaleRange="-10.855986 1135.8667" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="iwp_wm" title="iwp_wm" description="cloud ice water path wm" colorScaleRange="8.147622 158.49004" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="lwp_std" title="lwp_std" description="cloud liquid water path std" colorScaleRange="-38.06375 1063.4879" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cot_uncertainty" title="cot_uncertainty" description="cloud optical thickness uncertainty" colorScaleRange="2.8547404 113.310844" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="npoints_macro_cct_high_cloudy" title="npoints_macro_cct_high_cloudy" description="number of high cloudy points" colorScaleRange="21.95 419.05" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="lwp" title="lwp" description="cloud liquid water path" colorScaleRange="-19.591574 505.92303" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="false"/>
                <variable id="ctt_wm" title="ctt_wm" description="cloud top temperature wm" colorScaleRange="225.00296 278.97705" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cth_med" title="cth_med" description="cloud top height median" colorScaleRange="1.506 7.3139997" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="ctt_uncertainty_std" title="ctt_uncertainty_std" description="cloud top temperature uncertainty std" colorScaleRange="0.0 100.0" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cwp_uncertainty_std" title="cwp_uncertainty_std" description="cloud water path uncertainty std" colorScaleRange="-1143.8658 33572.4" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="ref_uncertainty" title="ref_uncertainty" description="effective radius uncertainty" colorScaleRange="0.80231875 21.123796" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cc_total_uncertainty_std" title="cc_total_uncertainty_std" description="cloud fraction uncertainty std" colorScaleRange="0.0 1.0" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="ref_wstd" title="ref_wstd" description="effective radius wstd" colorScaleRange="8.085565 26.775063" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cc_middle" title="cc_middle" description="cloud fraction middle" colorScaleRange="0.08551128 0.6948291" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="lwp_wm" title="lwp_wm" description="cloud liquid water path wm" colorScaleRange="-7.817019 329.22525" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cc_total_wstd" title="cc_total_wstd" description="cloud fraction wstd" colorScaleRange="0.0 1.0" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cth_wm" title="cth_wm" description="cloud top height wm" colorScaleRange="2.1876323 5.706093" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cot_wstd" title="cot_wstd" description="cloud optical thickness wstd" colorScaleRange="0.45116943 19.476336" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="ctt_std" title="ctt_std" description="cloud top temperature std" colorScaleRange="10.170431 23.758867" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="npoints_macro_cct_middle_cloudy" title="npoints_macro_cct_middle_cloudy" description="number of middle cloudy points" colorScaleRange="116.1 993.9" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="lwp_uncertainty" title="lwp_uncertainty" description="cloud liquid water path uncertainty" colorScaleRange="-26.81238 589.06" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cc_total_wm" title="cc_total_wm" description="cloud fraction wm" colorScaleRange="0.0 1.0" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="ctp_wstd" title="ctp_wstd" description="cloud top pressure wstd" colorScaleRange="89.18806 277.73" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cth_std" title="cth_std" description="cloud top height std" colorScaleRange="1.4080523 3.8061702" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="ref" title="ref" description="effective radius" colorScaleRange="13.367341 39.84697" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cc_total_uncertainty" title="cc_total_uncertainty" description="cloud fraction uncertainty" colorScaleRange="0.0 1.0" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="ref_uncertainty_std" title="ref_uncertainty_std" description="effective radius uncertainty std" colorScaleRange="28.484213 208.16026" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cwp_wstd" title="cwp_wstd" description="cloud water path wstd" colorScaleRange="2.3510222 308.42612" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="ctp_uncertainty_std" title="ctp_uncertainty_std" description="cloud top pressure uncertainty std" colorScaleRange="374.3537 1237.5585" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
                <variable id="cwp_med" title="cwp_med" description="cloud water path median" colorScaleRange="-15.325 596.825" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="true"/>
            </variables>
        </dataset>
        <dataset id="10.5676::EUM_SAF_CM::SARAH::V001" title="SARAH" location="/home/f-kratzenstein/Workspaces/DWD/CHARMe/packaging_tests/data/EUM_SAF_CM/SARAH/SISmm*.nc" queryable="true" dataReaderClass="" copyrightStatement="" moreInfo="" disabled="false" updateInterval="-1" metadataUrl="" metadataDesc="" metadataMimetype="">
            <variables>
                <variable id="SIS" title="solar surface irradiance" description="solar surface irradiance" colorScaleRange="-50.0 450.0" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="false"/>
                <variable id="SIC" title="solar surface irradiance (clear sky)" description="solar surface irradiance assuming clear sky" colorScaleRange="-50.0 450.0" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="false"/>
            </variables>
        </dataset>
        <dataset id="10.5676::EUM_SAF_CM::RAD_MVIRI::V001" title="MVIRI" location="/home/f-kratzenstein/Workspaces/DWD/CHARMe/packaging_tests/data/EUM_SAF_CM/MVIRI/10.5676_EUM_SAF_CM_RAD_MVIRI_V001*.nc" queryable="true" dataReaderClass="" copyrightStatement="" moreInfo="" disabled="false" updateInterval="-1" metadataUrl="" metadataDesc="" metadataMimetype="">
            <variables>
                <variable id="SIS" title="solar surface irradiance" description="Solar Surface Irradiance, monthly mean" colorScaleRange="-50.0 450.0" palette="rainbow" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250" metadataUrl="" metadataDesc="" metadataMimetype="" disabled="false"/>
                <variable id="SIC" title="SIC" description="solar surface irradiance assuming clear sky" colorScaleRange="-16.1 338.1" palette="default" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" scaling="linear" numColorBands="250"/>
            </variables>
        </dataset>
    </datasets>
    <dynamicServices/>
    <contact>
        <name></name>
        <organization></organization>
        <telephone></telephone>
        <email></email>
    </contact>
    <server>
        <title>ncWMS Server</title>
        <allowFeatureInfo>true</allowFeatureInfo>
        <maxImageWidth>1024</maxImageWidth>
        <maxImageHeight>1024</maxImageHeight>
        <abstract></abstract>
        <keywords></keywords>
        <url></url>
        <allowglobalcapabilities>true</allowglobalcapabilities>
    </server>
    <cache enabled="false">
        <inMemorySizeMB>256</inMemorySizeMB>
        <elementLifetimeMinutes>0.0</elementLifetimeMinutes>
    </cache>
</config>
